@model SistemaMatricula.Models.ViewModel.AlunoViewModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>@ViewData["Title"]</h2>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.HiddenFor(x => x.AlunoId)
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">

            @Html.LabelFor(model => model.NomeAluno, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.NomeAluno, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.NomeAluno, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.Cpf, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.Peso, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.Altura, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.NomeModalidade, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.NomeModalidade, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.NomeModalidade, "", new { @class = "text-danger" })
        </div>



        <div class="form-group">
            @Html.ActionLink("Editar", "Edit", "Alunos", new { @id = Model.AlunoId })
        </div>
        @Html.ActionLink("Voltar", "Index", "Alunos", new { htmlAttributes = new { @class = "btn btn-primary" } })

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}